.jumbotron-new{
    background-color: #000000;
    color: #000000;
    
}

.body-body{
    background: #000000;

}

.row-middle{
    background-color:#c12206;
    color: black;

}

.navbar-inverse{
    background-color: #630f00;
}