.jumbotron{
    background-color: #000000;
    color: #000000;
    
}

.body-body{
    background: #000000;

}

.row-middle{
    background-color:#c12206;
    color: black;

}

.row-content{
    border-bottom: 5px double black;
}

.navbar-inverse{
    background-color: #630f00;
}